body{
  background: orange;
  font-family: poppins;
  height: 100vh;
  display: flex;
  justify-contents: center;
  align-items: center;
}
h1{
  background: transparent;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  
}

